@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1,wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  transition: background 0.4s linear;
}

body {
  background-color: var(--primary-color);
}

img,
button,
a {
  user-select: none;
}

:root {
  --primary-color: #fff;
  --secondary-color: #1a1a1a;
  --text-color-light: #fff;
  --color-link: #146ebe;
  --text-color-dark: #000;
  // --primary-navbar-color: #fff;
  // --secondary-navbar-color: #111;
}

.dark-mode {
  --primary-color: #1a1a1a;
  --secondary-color: #fff;
  --text-color-light: #000;
  --color-link: #146ebe;
  --text-color-dark: #fff;
  // --primary-navbar-color: #111;
  // --secondary-navbar-color: #fff;
}

//     preloader start

.loader-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #000;
  z-index: 10;
  transition: opacity 1s ease;
}

.loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px;
  border-color: transparent;
  border-left: var(--color-link);
  border-style: solid;
  position: relative;
  animation: circle1 0.7s linear infinite;
}
@keyframes circle1 {
  100% {
    transform: rotate(360deg);
  }
}

.circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px;
  border-color: transparent;
  border-left: var(--primary-color);
  border-style: solid;
  position: absolute;
  animation: circle2 1.09s linear infinite;
}
@keyframes circle2 {
  100% {
    transform: rotate(360deg);
  }
}

.circle3 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px;
  border-color: transparent;
  border-left: var(--color-link);
  border-style: solid;
  position: absolute;
  animation: circle3 2s linear infinite;
}
@keyframes circle3 {
  100% {
    transform: rotate(360deg);
  }
}


strong {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 900;
  color: var(--color-link);
  animation: text2 2s ease-in-out infinite;
}
@keyframes text2 {
  50% {
    letter-spacing: 0.2rem;
    color: #222;
  }
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
  transition-delay: 2s;
}

//     preloader end


.navbar {
  background-color: var(--primary-color);
  padding: .5rem 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // width: 100%;
  top: 0;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-basis: 500px;

    .nav-link {
      text-transform: uppercase;
      cursor: pointer;
      color: var(--color-link);
      transition: color 0.2s;
      text-decoration: none;
      font-weight: 500;
    }

    .nav-link:hover {
      color: var(--text-color-dark);
    }
    .nav-link:focus {
      color: var(--text-color-dark);
    }
  }

  .my-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .code-icon {
      color: var(--text-color-dark);
      cursor: pointer;
      font-size: 25px;
    }
    .logo {
      color: var(--color-link);
      text-decoration: none;
      font-size: 25px;
      font-family: "Source Sans Pro", sans-serif;
      font-style: italic;
    }
  }

  .theme-changer {
    color: var(--text-color-dark);
    font-size: 25px;
  }

  .audio {
    display: none;
  }
}
.fixed-navbar {
  position: fixed;
  width: 100%;
}
@media (max-width: 745px) {
  .navbar {

    .nav-links {
      display: none !important;
    }
  }
}
// --------------- PAGE HEADER -------------------- //

.page-header {
  height: 100vh;
  width: 100%;
  background-image: url(../Images/IMG_0472-1.JPG);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;

  .page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color-light);
    height: 100vh;
    width: 100vw;

    .introduction {
      font-size: 60px;
      font-weight: 500;
      letter-spacing: 0.2rem;
    }

    .my-name {
      font-size: 100px;
      font-weight: 800;
    }

    .intro-title {
      letter-spacing: 0.2rem;
      font-weight: 500;
    }
  }

  @media (max-width: 690px) {
    .page-intro {
      .introduction {
        font-size: 30px;
      }

      .my-name {
        font-size: 50px;
      }
    }
  }

  
}

// ------------------- PAGE HEADER END ------------------- \\

// --------------------My Skill ----------------------\\

#myskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  color: var(--text-color-dark);

  .myskills-header {
    font-size: 30px;
    color: var(--color-link);
  }

  .skill-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .skill-list-header {
      font-size: 30px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 500;
    }

    .skill-in {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      margin-left: 1.5rem;

      .skill-header {
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
      }

      .skill-level {
        height: 20px;
      }
    }

    .language-icons {
      // width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      gap: 4rem;
      margin-left: 1.5rem;

      .language-icon {
        .language-name {
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          font-size: 18px;
        }

        .icon-cont {
          display: flex;
          align-items: center;
          flex-direction: column;
          // justify-content: center;

          .line-change {
            width: 55px;
            height: 3px;
            background-color: var(--color-link);
            margin-top: 0.3rem;
            animation: line 0.6s linear infinite;
          }

          @keyframes line {
            50% {
              background-color: rgb(5, 3, 160);
            }
          }

          .icon {
            // position: absolute;
            font-size: 50px;
          }

          @keyframes rotateicon {
            100% {
              transform: perspective(50rem) rotateY(360deg);
            }
          }
          @keyframes rotateicon2 {
            100% {
              transform: rotate(360deg);
            }
          }

          .icon-html {
            color: #e34c26;
            animation: rotateicon 4s linear infinite;
          }
          .icon-css {
            color: #2965f1;
            animation: rotateicon 4s linear infinite;
          }
          .icon-js {
            color: #f0db4f;
            animation: rotateicon 4s linear infinite;
          }
          .icon-react {
            color: #34c5ff;
            animation: rotateicon2 4s linear infinite;
          }
          .icon-git {
            color: #f1502f;
            animation: rotateicon2 4s linear infinite;
          }
          .icon-sass {
            color: #fd7088;
            animation: rotateicon 4s linear infinite;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #myskills {
    padding-left: 5vw;
    padding-right: 5vw;

    .myskills-header{
      font-size: 25px;
    }

    .skill-list {
      width: 100%;
      padding-left: 5vw;
      padding-right: 5vw;

      .skill-in {
        flex-direction: column;
        margin-left: 0;
        align-items: flex-start;
        gap: 0;

        .skill {
          margin-bottom: 1rem;
        }

        .skill-level {
          width: 250px;
        }
      }

      .language-icons {
        margin-left: 0;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}

// -----------------------My Skill End -----------------\\

// --------------------My Projects --------------------- //

#my-projects {
  // background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5vw 2rem 5vw;

  .project-header {
    font-size: 30px;
    color: var(--color-link);
  }

  .project-sort-list {
    display: flex;
    gap: 2.5rem;
    list-style: none;

    .project-sort {
      color: var(--color-link);
      cursor: pointer;
      transition: all 0.3s;
      font-weight: 500;
    }

    .project-sort:hover {
      color: var(--text-color-dark);
    }
    .project-sort:focus {
      color: var(--text-color-dark);
    }
  }

  .projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .projects {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      align-items: flex-start;
      width: 40%;
      max-width: 320px;

      .image {
        display: flex;
        align-items: center;
        position: relative;
      }

      .project-image {
        width: 100%;
        height: 245px;
        border-radius: 0.5rem;
        position: relative;
        margin-bottom: 0.4rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      //-------- USE FOR HOVERING EFFECT WITH JAVASCRIPT

      .image:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 245px;
        border-radius: 0.5rem;
        background-color: var(--color-link);
        opacity: 0.5;
        z-index: 2;
        margin-bottom: 0.4rem;
      }

      .project-name {
        color: var(--color-link);
        margin-bottom: 0.4rem;
        font-size: 19px;
      }

      .project-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        margin-bottom: 0.4rem;

        .view {
          padding: 0.3rem 0.9rem;
          border: none;
          outline: none;
          border-radius: 0.7rem;
          transition: all 0.3s;
          cursor: pointer;
          font-weight: 500;
        }

        .view:hover {
          background-color: var(--color-link);
        }
        .view:focus {
          background-color: var(--color-link);
        }

        .code {
          padding: 0.3rem 0.9rem;
          border: none;
          outline: none;
          border-radius: 0.7rem;
          transition: all 0.3s;
          cursor: pointer;
          font-weight: 500;
        }

        .code:hover {
          background-color: var(--color-link);
        }
        .code:focus {
          background-color: var(--color-link);
        }
      }

      .tools {
        color: var(--text-color-dark);
        margin-bottom: 0.8rem;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 970px) {
    .projects {
      width: 100% !important;
    }

    .project-header{
      font-size: 25px;
    }

    .my-projects {
      padding-bottom: 1rem;
    }
  }
}

// --------------------- My Projects End -------------------\\

// --------------------- Mobile navbar -------------------\\

.mobile-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5vw;
  align-items: center;
  background-color: var(--primary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);

  .mobile-nav-link {
    text-decoration: none;
    color: var(--color-link);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    transition: all 0.3s;
  }

  .mobile-nav-link:hover {
    color: var(--text-color-dark);
  }
  .mobile-nav-link:focus {
    color: var(--text-color-dark);
  }
}

@media (min-width: 745px) {
  .mobile-nav-links {
    display: none;
  }
}

// --------------------- Mobile navbar end -------------------\\

// --------------------- About -------------------\\

#about {
  padding: 2rem 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  // background-color: var(--primary-color);

  .my-image {
    width: 50%;
    border-radius: 0.5rem;
    height: 100%;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    line-height: 2rem;

    .about-title {
      color: var(--color-link);
      font-size: 30px;
    }

    .line {
      width: 50px;
      height: 5px;
      background-color: var(--color-link);
      margin: 0.5rem 0 2rem 0;
      border-radius: 0.5rem;
    }

    .about-me {
      color: var(--text-color-dark);
      font-size: 18px;
      font-weight: 500;

      .link-to-projects {
        text-decoration: none;
        color: var(--color-link);
      }
    }

    .about-cta {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 1rem;

      .hire-me {
        padding: 1rem 2rem;
        background-color: var(--color-link);
        border-radius: 1.5rem;
        border: none;
        outline: none;
        color: var(--text-color-light);
        cursor: pointer;
        transition: all 0.3s;
        font-weight: 500;
      }

      .hire-me:hover {
        opacity: 0.8;
      }

      .contact-me {
        padding: 1rem 2rem;
        background-color: var(--secondary-color);
        border-radius: 1.5rem;
        border: none;
        outline: none;
        color: var(--text-color-light);
        cursor: pointer;
        transition: all 0.3s;
        font-weight: 500;
      }

      .contact-me:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 800px) {
  #about {
    flex-direction: column;
    align-items: center;

    .my-image {
      display: none;
    }

    .about-title{
      font-size: 25px;
    }

    .about-text {
      width: 90%;
      // text-align: center;
      align-items: center;
    }
  }
}

// --------------------- About end -------------------\\
