@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: rgba(255, 255, 255, 0.938);
  --secondary-color: rgba(0, 0, 0, 0.89);
  --color-link: #bac964;
}



// --------------- PAGE HEADER -------------------- //

.page-header {
  height: 100vh;
  width: 100%;
  background-image: url(../Images/IMG_0472-1.JPG);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;

  .navbar {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    justify-content: center;

    .nav-links {
      display: flex;
      flex-direction: row;
      width: 40%;
      justify-content: space-between;
      list-style: none;

      .nav-link {
        text-transform: uppercase;
        cursor: pointer;
        color: var(--primary-color);
        transition: color 0.4s;
        text-decoration: none;
      }

      .nav-link:hover {
        color: var(--color-link);
      }
      .nav-link:focus {
        color: var(--color-link);
      }
    }
  }

  .page-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
    color: var(--primary-color);

    .introduction {
      font-size: 60px;
      font-weight: 400;
      letter-spacing: 0.2rem;
    }

    .my-name {
      font-size: 100px;
      font-weight: 800;
    }

    .intro-title {
      letter-spacing: 0.2rem;
    }
  }
}

// ------------------- PAGE HEADER END ------------------- \\



// --------------------My Skill ----------------------\\

.myskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding-top: 5rem;
  color: var(--primary-color);

  .myskills-header {
    font-size: 40px;
  }

  .skill-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .skill-list-header {
      font-size: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
    }

    .skill-in {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      gap: 3rem;
      margin-left: 1.5rem;

      .skill-header {
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
      }

      .skill-level {
        height: 10px;
        background-color: var(--color-link);
      }

    }

      .language-icons {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        gap: 4rem;
        margin-left: 1.5rem;

        .language-icon {
          .language-name {
            text-align: center;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
          }

          .icon-cont {
            display: flex;
            align-items: center;
            justify-content: center;

            .circle1 {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              border: 2px;
              border-color: transparent;
              border-left: var(--color-link);
              border-style: solid;
              position: relative;
              animation-name: circle1;
              animation-duration: 5s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }

            @keyframes circle1 {
              100% {
                transform: rotate(360deg);
              }
            }

            .html-circle{
              animation-duration: 6s;
            }

            .js-circle{
              animation-duration: 5s;
            }
            .css-circle{
              animation-duration: 4s;
            }

            .circle2 {
              width: 95px;
              height: 95px;
              border-radius: 50%;
              border: 2px;
              border-color: transparent;
              border-left: rgb(82, 235, 22);
              border-style: solid;
              position: absolute;
              animation-name: circle2;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
            }

            @keyframes circle2 {
              50%{
                transform: rotate(-180deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }

            .icon {
              position: absolute;
              font-size: 50px;
              animation: rotateicon 4s linear infinite;
            }

            @keyframes rotateicon {
              100% {
                transform: perspective(50rem) rotateY(360deg);
              }
            }

            .icon-html{
              color: #e34c26;
            }
            .icon-css{
              color: #2965F1;
            }
            .icon-js{
              color: #F0DB4F;
            }
            .icon-react{
              color: #34C5FF;
            }
            .icon-git{
              color: #F1502F;
            }
            .icon-sass{
              color: #FD7088;
            }
          }
        }
      }
  }
}


// -----------------------My Skill End -----------------\\



.my-projects{
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;


  .project-header{
    font-size: 40px;
    color: var(--primary-color);
  }


  .project-sort-list{
    display: flex;
    gap: 2.5rem;
    list-style: none;


    .project-sort{
      color: var(--primary-color);
      cursor: pointer;
      transition: all .3s;
    }

    .project-sort:hover{
      color: var(--color-link);
    }
    .project-sort:focus{
      color: var(--color-link);
    }
  }

  .projects-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;

    .projects{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;


      .image{
        display: flex;
        align-items: center;
      }


      .project-image{
        width: 375px;
        height: 300px;
        border-radius: 2rem;
        position: relative;
      }

//-------- USE FOR HOVERING EFFECT WITH JAVASCRIPT

      .image-overlay{
        position: absolute;
        width: 375px;
        height: 300px;
        border-radius: 2rem;
        background-color: var(--color-link);
        opacity: .5;
      }

      .project-name{
        color: var(--color-link);
      }

      .project-cta{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        .view{
          padding: .3rem .9rem;
          border: none;
          outline: none;
          border-radius: .7rem;
          transition: all .3s;
          cursor: pointer;
        }

        .view:hover{
          background-color: var(--color-link);
        }
        .view:focus{
          background-color: var(--color-link);
        }


        .code{
          padding: .3rem .9rem;
          border: none;
          outline: none;
          border-radius: .7rem;
          transition: all .3s;
          cursor: pointer;
        }

        .code:hover{
          background-color: var(--color-link);
        }
        .code:focus{
          background-color: var(--color-link);
        }
      }

      .tools{
        color: var(--primary-color);
      }
    }
  }
}
